h1 {
      
    text-align:center;
}
body {
    background-color: lightslategray;
    color: black;
    background: linear-gradient(gray, lightslategray, white );
}
h3 { 
    font-size: x-large;
    font-style: oblique;
    
}
.v2 {
    text-align: center;
}
.volante {
    width: 400px;
}


.lista{
    display: inline-block;
    padding: 3%;
    margin-right: 20%
}
.marcha {
    width: 400px;
}
p {
    font-size: x-large;
}

nav a{
    text-transform: uppercase;
    color: lightblue;
    text-decoration: none;
    font-weight: 500;
}
nav a:hover {
    color: brown;
}
footer {
    background-color: cadetblue;
}