h1 {
      
    text-align:center;
}
body {
    background-color: lightslategray;
    color: black;
    background: linear-gradient(gray, black);
}
h3 { 
    font-size: x-large;
    font-style: oblique;
    
}
.v2 {
    text-align: center;
}
.volante {
    width: 400px;
}


.lista{
    display: inline-block;
    padding: 3%;
    margin-right: 20%
}
.marcha {
    width: 400px;
}
p {
    font-size: x-large;
}
.divlist {
    text-align: left;
    padding: 5%
}

.divlist2 {
    text-align: center;
}
.divlist3 {
    text-align: right;
}
.imglist2 {
    text-align: center;
}
nav a{
    text-transform: uppercase;
    color: lightblue;
    text-decoration: none;
    font-weight: 500;
}