h1 {
    background-color: lightslategray  ;
    text-align:center;
}
body {
    background-color: lightslategray;
    color: black;
}
h3 { 
    font-size: x-large;
    font-style: oblique;
    
}
.v2 {
    text-align: center;
}
.volante {
    width: 400px;
}


.lista{
    display: inline-block;
    padding: 3%;
    margin-right: 20%
}
.marcha {
    width: 400px;
}
p {
    font-size: x-large;
}
.divlist {
    text-align: left;
}

.divlist2 {
    text-align: center;
}
.divlist3 {
    text-align: right;
}
.imglist2 {
    text-align: center;
}