body {
    background-color: lightslategray;
    color: black;
    background: linear-gradient(gray, lightslategray, white );
}
.lista li {
    display: inline-block;
    vertical-align: top;
    margin: o 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
}
.listaa {
    border-color: aqua;
    border-width: 20px;
    border-style: inset;
}
nav a{
    text-transform: uppercase;
    color: lightblue;
    text-decoration: none;
    font-weight: 500;
}
nav a :hover {
    color: brown;
}